.chat {
  display: flex;
  flex-direction: column;
  flex: 0.65;
}

.chat__header {
  padding: 10px;
  border-bottom: 1px solid snow;
}

.avatar {
  margin-right: 10px;
}

.chat__body {
  flex: 1;
  overflow: scroll;
  padding: 20px;
}

.chat__message {
  margin-left: 10px;
}

.chat__timestamp {
  margin-left: 5px;
  font-size: 10px;
}

.chat__input {
  background-color: #424242;
}
